Repository cd1zz/birdcam: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, frontend-lint, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        args: [tests/unit/, -x, --tb=short]

      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd web-ui && npm run lint'
        language: system
        files: ^web-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd web-ui && npm run test -- --run'
        language: system
        files: ^web-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

improvements
  .github/dependabot.yml
  .github/workflows/api-validation.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-check.yml
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  .github/workflows/secrets-scan.yml
  .gitleaks.toml
  api_routes_report.json
  scripts/test-all.sh
  scripts/validate_api_routes.py
  tests/integration/test_api_contract.py
  web-ui/package.json
  web-ui/src/api/client.integration.test.ts
  web-ui/src/api/client.test.ts
  web-ui/src/api/client.ts
  web-ui/src/components/settings/RegistrationManagement.tsx
  web-ui/src/components/settings/RegistrationSettingsEditable.tsx
  web-ui/src/pages/AdminPanel.tsx
  web-ui/src/pages/Analytics.tsx
  web/routes/api_discovery.py
  web/routes/registration_routes.py
Due: pytest, frontend-lint, frontend-tests

registration fix
  web-ui/src/components/settings/RegistrationManagement.tsx
  web/routes/registration_routes.py
Due: pytest, frontend-lint, frontend-tests

clean up
  api_routes_report.json
  scripts/fix_log_permissions.sh
  scripts/maintenance/run_tests.py
  scripts/reprocess_videos.py
  scripts/setup/install_ai_processor_service.sh
  scripts/setup/install_pi_capture_service.sh
  scripts/setup/pi_env_generator.py
  scripts/setup/setup_admin.py
  scripts/setup/setup_pi_camera.sh
  scripts/setup/uninstall_services.sh
  scripts/test-all.sh
  scripts/validate_api_routes.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/test_admin_api_routes.py
  tests/integration/test_api_contract.py
  tests/integration/test_api_endpoints.py
  tests/integration/test_cross_camera_motion.py
  tests/integration/test_database_operations.py
  tests/requirements.txt
  tests/unit/__init__.py
  tests/unit/test_motion_event_broadcaster.py
  tests/unit/test_startup_validator.py
Due: pytest

Add testing framework with basic API and UI tests
  .gitignore
  tests/__init__.py
  tests/api/__init__.py
  tests/api/test_api_validation.py
  tests/conftest.py
  tests/discovery/__init__.py
  tests/discovery/discover_endpoints.py
  tests/requirements.txt
  tests/ui/__init__.py
  tests/ui/test_ui_api_mapping.py
Due: pytest

testing framework improvements
  API_SECURITY_ANALYSIS.md
  API_SECURITY_FINDINGS.md
  CLAUDE.md
  SECURITY_SUMMARY.md
  pi_capture/main.py
  scripts/run-tests.sh
  services/file_sync.py
  tests/API_AUTH_REQUIREMENTS.md
  tests/README.md
  tests/api/list_unprotected_endpoints.py
  tests/api/test_api_responses.py
  tests/api/test_endpoint_details.py
  tests/api/test_security_audit.py
  tests/api/test_shared_secret_auth.py
  tests/conftest.py
  tests/test_auth_service.py
  tests/test_harness/README.md
  tests/test_harness/test_auth_integration.py
  tests/test_harness/test_config_validation.py
  tests/test_harness/test_motion_detection_visual.py
  tests/test_utils_auth.py
  tests/tests/tmp/endpoints.json
  web/middleware/auth.py
  web/routes/processing_routes.py
Due: pytest

testing framework improvements
  API_SECURITY_ANALYSIS.md
  API_SECURITY_FINDINGS.md
  SECURITY_SUMMARY.md
Due: none

refactor: centralize log helpers
  web/handlers/log_handlers.py
  web/routes/log_routes.py
  web/utils/__init__.py
  web/utils/log_utils.py
Due: pytest

Create auth utils helper and refactor
  web/handlers/auth_handlers.py
  web/routes/auth_routes.py
  web/routes/setup_routes.py
  web/utils/__init__.py
  web/utils/auth_utils.py
Due: pytest

restore setup scripts
  scripts/setup/install_ai_processor_service.sh
  scripts/setup/install_pi_capture_service.sh
  scripts/setup/pi_env_generator.py
  scripts/setup/setup_admin.py
  scripts/setup/setup_pi_camera.sh
Due: pytest

Add shared decorators for admin and auth internal
  web/admin_routes.py
  web/middleware/__init__.py
  web/middleware/decorators.py
  web/routes/log_routes.py
  web/routes/pi_proxy_routes.py
  web/routes/processing_routes.py
  web/routes/registration_routes.py
Due: pytest

chore: remove unused motion broadcaster
  config/examples/.env.pi.example
  docs/CONFIGURATION.md
  docs/TESTING.md
  pi_capture/main.py
  services/motion_event_broadcaster.py
Due: pytest

Remove unused resilience helpers
  services/file_sync.py
Due: pytest

Remove stray pip log and ignore such artifacts
  .gitignore
  =4.5.0
Due: none

Fix missing require_admin import
  web/routes/processing_routes.py
Due: pytest

updates
  config/settings.py
  docs/PI_SETUP.md
  docs/PROCESSOR_SETUP.md
  docs/SECURE_PROXY_SETUP.md
  web-ui/src/pages/Analytics.tsx
  web/utils/log_utils.py
Due: pytest, frontend-lint, frontend-tests

update setup script
  config/settings.py
  scripts/setup/pi_env_generator.py
  web/routes/capture_routes.py
Due: pytest

update setup script
  scripts/setup/setup_pi_camera.sh
  web-ui/src/api/client.ts
  web-ui/src/pages/Analytics.tsx
  web/routes/processing_routes.py
Due: pytest, frontend-lint, frontend-tests

updates
  scripts/setup/setup_pi_camera.sh
Due: none

pi capture setup fixes
  README.md
  scripts/setup/install_pi_capture_service.sh
  scripts/setup/setup_pi_camera.sh
  systemd/pi-capture.service
Due: none

security logging enhancements
  web-ui/src/api/client.ts
  web-ui/src/components/LogViewer.tsx
  web-ui/src/components/SecurityLogs.tsx
  web-ui/src/components/widgets/SecurityWidget.tsx
  web-ui/src/pages/AdminPanel.tsx
  web-ui/src/pages/Analytics.tsx
Due: frontend-lint, frontend-tests

security logging enhancements
  services/auth_service.py
  utils/security_logger.py
  web/app.py
  web/handlers/auth_handlers.py
  web/routes/auth_routes.py
  web/routes/security_routes.py
Due: pytest

security logging fix
  web/routes/security_routes.py
Due: pytest

security logging not showing up in UI
  web/routes/security_routes.py
Due: pytest

updated docs
  CLAUDE.md
  README.md
Due: none

linting errors
  .github/workflows/test.yml
  scripts/setup_test_users.py
  web-ui/src/App.tsx
  web-ui/src/api/client.integration.test.ts
  web-ui/src/api/client.ts
  web-ui/src/components/DetectionGrid.test.tsx
  web-ui/src/components/InteractiveCameraFeed.tsx
  web-ui/src/components/Layout.tsx
  web-ui/src/components/LogViewer.tsx
  web-ui/src/components/ProtectedRoute.tsx
  web-ui/src/components/UserManagement.tsx
  web-ui/src/components/settings/EmailSettings.tsx
  web-ui/src/components/settings/RegistrationManagement.tsx
  web-ui/src/components/settings/RegistrationSettingsEditable.tsx
  web-ui/src/components/widgets/SecurityWidget.tsx
  web-ui/src/contexts/AuthContext.test.tsx
  web-ui/src/contexts/AuthContext.ts
  web-ui/src/contexts/AuthProvider.tsx
  web-ui/src/hooks/useAuth.ts
  web-ui/src/pages/AdminPanel.tsx
  web-ui/src/pages/Login.test.tsx
  web-ui/src/pages/Login.tsx
  web-ui/src/pages/Register.tsx
  web-ui/src/pages/Setup.tsx
  web-ui/src/pages/VerifyEmail.tsx
  web-ui/src/test/setup.ts
Due: pytest, frontend-lint, frontend-tests

Fix GitHub workflow failures
  .github/workflows/api-validation.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/test.yml
  tests/requirements.txt
Due: none

Fix Python linting errors for CI/CD
  config/settings.py
  database/repositories/__init__.py
  services/auth_service.py
  services/processing_service.py
  web/routes/api_discovery.py
  web/routes/capture_routes.py
Due: pytest

Fix frontend test failures
  web-ui/src/components/CameraFeed.test.tsx
  web-ui/src/components/DetectionGrid.test.tsx
  web-ui/src/components/DetectionGrid.tsx
  web-ui/src/pages/Login.test.tsx
Due: frontend-lint, frontend-tests

Fix Python 3.8 compatibility in azure_email_provider
  services/azure_email_provider.py
Due: pytest

gh workflow errors
  requirements.capture.txt
  requirements.processor.txt
  tests/api/test_endpoint_details.py
  tests/test_harness/conftest.py
  tests/test_harness/test_config_validation.py
  tests/test_harness/test_motion_detection_visual.py
  web/routes/capture_routes.py
  web/routes/processing_routes.py
Due: pytest

docker builds
  .dockerignore
  .env.docker.example
  .gitignore
  DOCKER.md
  Dockerfile.capture
  Dockerfile.processor
  docker-compose.yml
  install-docker.sh
  test-docker-build.sh
  tests/tests/tmp/endpoints.json
  web-ui/=4.5.0
Due: none

security fixes
  web-ui/package-lock.json
  web-ui/package.json
Due: none

- Fixed: Invalid glob patterns (*.test.py) changed to valid regex (.*\.test\.py$) in gitleaks workload
  .gitleaks.toml
Due: none

Issue:
  tests/test_harness/test_config_validation.py
Due: pytest

trufflehog fix
  .github/workflows/secrets-scan.yml
Due: none

trufflehog fix for hard coded creds
  .github/workflows/secrets-scan.yml
Due: none

remove support for old python
  .github/workflows/test.yml
  README.md
Due: none

Update React and dependencies to fix CVE vulnerabilities
  web-ui/package-lock.json
  web-ui/package.json
Due: none

Add comprehensive codebase audit report
  CODEBASE_AUDIT.md
Due: none
